{% extends "layouts/blank.html" %}

{% block heading %}Connecting API : {{ provider }}{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
<style>
</style>
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block app %}
<script type="text/javascript">

</script>
{% endblock %}
