{% extends "layouts/blank.html" %}

{% block heading %}Choose a new connector :{% endblock %}

{% block page %}
<h3>API's :</h3>
{% for alias,provider in apis %}
<a class="btn btn-app" href="/plug/api/{{ alias }}">
    <i class="fa fa-{{ alias|icon_name }}"></i> {{ alias|capfirst }}
</a>
{% endfor %}
<hr />
<h3>Endpoints :</h3>
{% for provider in endpoints %}
<a class="btn btn-app" href="/plug/endpoint/{{ provider }}">
    <i class="fa fa-{{ provider|icon_name }}"></i> {{ provider|capfirst }}
</a>
{% endfor %}
<hr />
<h3>Networks :</h3>
{% for provider in networks %}
<a class="btn btn-app" href="/plug/social/{{ provider.name }}">
    <i class="fa fa-{{ provider.icon }}"></i> {{ provider.title }}
</a>
{% endfor %}
<hr />
<p>{{ registrars }}</p>
{% endblock %}

{% block script %}
<style>
</style>
{% endblock %}

{% block app %}
<script type="text/javascript">
</script>
{% endblock %}
